- @videos.each do |video|
  .contenter__field
    %p.tokosya  投稿者
    %p.namer=video.user.name
    %p.title  タイトル
    %p.name=video.name
    %p.comment 投稿者コメント
    = simple_format(video.text, class: "comment-text")
    %h3.iinestyle いいね件数: #{video.likes.count}
    .videostyle
      = video_tag video.image.to_s, autoplay: true, muted: true, loop: true, width: "50%"
    .btnstyle
      .btnstyle__syosai
        = link_to "詳細", "/videos/#{video.id}", method: :get, class: "btn btn-default btn-block"
      - if user_signed_in? && current_user.id == video.user_id
        .btnstyle__syosai
          = link_to "編集", "/videos/#{video.id}/edit", method: :get, class: "btn btn-default btn-block"
        .btnstyle__syosai
          = link_to "削除", "/videos/#{video.id}", method: :delete, data: { confirm: "本当に削除してもよろしいですか？", cancel: 'やめる', commit: '削除する'}, title: '削除確認画面',class: "btn btn-default btn-block", id: "item-delete-btn"
          = render partial: "comments/comment"
          -# モーダル実装用
          -# #overlay
          -#   #modalWindow
          -#     .modal-message-box
          -#       %div 確認
          -#       %div 本当に削除しますか？
          -#     %button#modal-close-btn キャンセル
          -#     %button#delete-comformation-btn 削除する