- if user_signed_in? 
  .header__button
    %a.btn.btn-default{:href => "/users/#{current_user.id}"} マイページ
  .header__button
    = link_to "ログアウト", destroy_user_session_path, class: 'btn btn-default', method: :delete
    %a.btn.btn-default{:href => "/memos/new"} 投稿する
    .myname
      %p.login  ログイン名
      = current_user.name
- else
  .header__button
    = link_to "ログイン", new_user_session_path, class: 'btn btn-default'
    = link_to "新規登録", new_user_registration_path, class: 'btn btn-default'