%html.image1
  %body.imagecleah
    .content
      %h2.title ログイン画面
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field__label
          = f.label :Eメール
          %br/
          = f.email_field :email, autofocus: true, class: 'field__input'
        .field
          .field__label
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off", class: 'field__input'
        .actions
          = f.submit "ログイン", class: 'btn btn-default'
