- @memos.each do |memo|
  .contenter__field
    %p.title  タイトル
    %p.name=memo.name
    %p.comment 投稿者コメント
    = simple_format(memo.text, class: 'comment-text')
    .videostyle
      = video_tag memo.image.to_s, autoplay: true, muted: true, loop: true, width: "50%"
    .btnstyle
      .btnstyle__syosai
        = link_to '詳細', "/memos/#{memo.id}", method: :get, class: 'btn btn-default btn-block'
      - if user_signed_in? && current_user.id == memo.user_id
        .btnstyle__syosai
          = link_to '編集', "/memos/#{memo.id}/edit", method: :get, class: 'btn btn-default btn-block'
        .btnstyle__syosai
          = link_to '削除', "/memos/#{memo.id}", method: :delete, class: 'btn btn-default btn-block'