.contents
  .contenter
    - @memos.each do |memo|
      .contenters
      - if user_signed_in? && current_user.id == memo.user_id
        %p.title  タイトル
        %p.name=memo.name
        .btntype
        = link_to '詳細', "/memos/#{memo.id}", method: :get, class: 'btn btn-default'
        = link_to '編集', "/memos/#{memo.id}/edit", method: :get, class: 'btn btn-default'
        = link_to '削除', "/memos/#{memo.id}", method: :delete, class: 'btn btn-default'
        %p.comment 投稿者コメント
        = simple_format(memo.text, class: 'comment-text')
        = video_tag memo.image.to_s, autoplay: true, muted: true, loop: true, width: "70%"
        .border
    = paginate @memos