!!!
%html.haikeiimage
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title Movieselect
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    %body.posthaikei
      .loader-wrap
        .loader
      .header.container
        = render partial: "shared/flash"
        %h1.title
          %a{href: "/"} Moviecollection
        .header-button
          .search
            = form_with url: videos_path, method: :get, local: true do |f|
              = f.text_field :search, class: "search-field", placeholder: "タイトルを入力して下さい。"
              = f.submit '検索', name: nil, class: "btn btn-default"
          = render partial: "shared/header"
      = yield